[package]
name = "custom_arrays"
version = "0.1.0"
edition.workspace = true
publish = false

[dependencies]
diesel = { path = "../../../diesel", version = "2.2.0", default-features = false, features = ["postgres", "r2d2"] }
diesel_migrations = { path = "../../../diesel_migrations", version = "2.2.0", default-features = false, features = ["postgres"] }
pq-sys = { workspace = true, features = ["bundled"] }
openssl-sys = { workspace = true, features = ["vendored"] }

[dev-dependencies]
dotenvy = "0.15"
