language: rust
sudo: required
dist: trusty
rust:
  - stable
  - beta
  - nightly
cache: cargo
addons:
  postgresql: '9.4'
before_script:
  - pip install 'travis-cargo<0.2' --user
  - export PATH=$HOME/.local/bin:$PATH
  - psql -c 'create database diesel_schema;' -U postgres
script:
- |
  if [[ "$TRAVIS_RUST_VERSION" == nightly* ]]; then
    (cd diesel && travis-cargo test -- --no-default-features --features "unstable chrono $BACKEND")
  else
    (cd diesel && travis-cargo test -- --no-default-features --features "chrono $BACKEND")
  fi &&
  if [[ "$BACKEND" == postgres ]]; then
    if [[ "$TRAVIS_RUST_VERSION" == nightly* ]]; then
      (cd examples && ./test_nightly)
    else
      (cd examples && ./test_stable)
    fi
  fi &&
  (cd diesel_cli && travis-cargo test -- --no-default-features --features "$BACKEND") &&
  (cd diesel_codegen_shared && travis-cargo test -- --no-default-features --features "dotenv $BACKEND") &&
  (cd diesel_codegen_syntex && travis-cargo test -- --no-default-features --features "$BACKEND") &&
  if [[ "$TRAVIS_RUST_VERSION" == nightly* ]]; then
    (cd diesel_tests && travis-cargo test -- --no-default-features --features "unstable_$BACKEND")
  else
    (cd diesel_tests && travis-cargo test -- --no-default-features --features "stable_$BACKEND")
  fi &&
  if [[ "$TRAVIS_RUST_VERSION" == nightly* ]]; then
    (cd diesel_compile_tests && travis-cargo test)
  fi
env:
  matrix:
    - BACKEND=sqlite
      DATABASE_URL=/tmp/test.db
    - BACKEND=postgres
      DATABASE_URL=postgres://postgres@localhost/
  global:
    - TRAVIS_CARGO_NIGHTLY_FEATURE=""
    - secure: NmCM1VNEzid6bROA7tXV1R63n9S9KvY1etXsDzd1608cvjRnG3ZDAWXISbY1BxqrvleElreUJOvz/3TSQCHivpT2ezeyk2sntYtZpw0TWbz1SQMAPNWPTjP3bNQzpmNwfU4p6ui6qIOnQza4JxOu3SZSveNlehDBPkkS+52R7Zw/EPdwi9jTYJArV2+8pnEsQECAdRLttbtA2JBl3hZ4VHfGpHRZyeULn63UzyVbQVzQ3NVhqyQUKTPdpUciQTI3fZEkfaWuLV8QPPa5026/yJEEi2Fsl3r7fyY8ia67k4Zo9THlPVD0YOUlkWuZWwvkxNA8RQSVPv4FidEpwbxG8y6nAra4CjwiEChcpFhZJtrH7ZrXO/tJk7vtc5CFVWUsQtNX92QY1QFdPxwYNBSICLyUN+A+BQURwvQgxdcJsJyQmh5Ed7yuavcAinVq7fPeOyBWcPL5mt17no16aG1rzvXSUnD0aH7F3S3DHkoM9P9iHgJMLk+2YNmJtFescBxCeG8bA7t5bw0kQNH5KUWAD1uYpC9ikB3NVdlc+q17dKTAe4rcYA+sIO+UGudvpmLWT0lXtEMqDfxfCmyICDESs9bNfueCGJEAnfTBNunsJqR7rMUvjNndS2/Ssok6c/0Yfb9X8cM9nI4QLAj/+hClqdYphmpCjuC34bWxFSt/KJI=
after_success:
- |
  if [[ "$TRAVIS_RUST_VERSION" == stable ]]; then
    (cd diesel && travis-cargo doc -- --features "postgres sqlite chrono uuid")
    (echo "docs.diesel.rs" > diesel/target/doc/CNAME)
    (cd diesel && travis-cargo doc-upload)
  fi
branches:
  only:
    - master
    - ಠ_ಠ
    - diesel-sqlite-support
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/1d32e0ad32841bd56b02
    on_success: change
    on_failure: always
    on_start: never
