language: rust
sudo: false
rust:
  - stable
  - beta
  - nightly-2015-12-03
  - nightly
addons:
  postgresql: '9.4'
before_script:
  - pip install 'travis-cargo<0.2' --user
  - export PATH=$HOME/.local/bin:$PATH
  - psql -c 'create database diesel_schema;' -U postgres
script:
- |
  (cd diesel && travis-cargo build) &&
  (cd diesel && travis-cargo doc) &&
  (cd diesel && travis-cargo test) &&
  if test "$TRAVIS_RUST_VERSION" = 'nightly'; then
    (cd diesel_tests && travis-cargo test -- --no-default-features)
  else
    (cd diesel_tests && travis-cargo test)
  fi
env:
  global:
    - DATABASE_URL=postgres://postgres@localhost/
    - DATABASE_URL_FOR_SCHEMA=postgres://postgres@localhost/diesel_schema
    - secure: NmCM1VNEzid6bROA7tXV1R63n9S9KvY1etXsDzd1608cvjRnG3ZDAWXISbY1BxqrvleElreUJOvz/3TSQCHivpT2ezeyk2sntYtZpw0TWbz1SQMAPNWPTjP3bNQzpmNwfU4p6ui6qIOnQza4JxOu3SZSveNlehDBPkkS+52R7Zw/EPdwi9jTYJArV2+8pnEsQECAdRLttbtA2JBl3hZ4VHfGpHRZyeULn63UzyVbQVzQ3NVhqyQUKTPdpUciQTI3fZEkfaWuLV8QPPa5026/yJEEi2Fsl3r7fyY8ia67k4Zo9THlPVD0YOUlkWuZWwvkxNA8RQSVPv4FidEpwbxG8y6nAra4CjwiEChcpFhZJtrH7ZrXO/tJk7vtc5CFVWUsQtNX92QY1QFdPxwYNBSICLyUN+A+BQURwvQgxdcJsJyQmh5Ed7yuavcAinVq7fPeOyBWcPL5mt17no16aG1rzvXSUnD0aH7F3S3DHkoM9P9iHgJMLk+2YNmJtFescBxCeG8bA7t5bw0kQNH5KUWAD1uYpC9ikB3NVdlc+q17dKTAe4rcYA+sIO+UGudvpmLWT0lXtEMqDfxfCmyICDESs9bNfueCGJEAnfTBNunsJqR7rMUvjNndS2/Ssok6c/0Yfb9X8cM9nI4QLAj/+hClqdYphmpCjuC34bWxFSt/KJI=
matrix:
  allow_failures:
    - rust: nightly
after_success:
- "(cd diesel && travis-cargo --only nightly doc-upload)"
branches:
  only:
    - master
    - ಠ_ಠ
