trigger: ["master"]
pr: ["master"]


jobs:
- template: _build/azure-pipelines-template.yml
  parameters:
    name: macOS_sqlite
    displayName: macOS SQLite
    vmImage: macOS-10.15
    variables:
      BACKEND: sqlite
      SQLITE_DATABASE_URL: /tmp/test.db
    setup:
      - bash: |
          brew update
          brew upgrade
          brew install sqlite --HEAD
        displayName: Install sqlite

- template: _build/azure-pipelines-template.yml
  parameters:
    name: macOS_postgres
    displayName: macOS PostgreSQL
    vmImage: macOS-10.15
    variables:
      BACKEND: postgres
      PG_DATABASE_URL: postgres://postgres@localhost/
      PG_EXAMPLE_DATABASE_URL: postgres://postgres@localhost/diesel_example
    setup:
      - bash: |
          brew update
          brew uninstall --ignore-dependencies libpq
          brew install postgres
          /usr/local/Cellar/postgresql/12.2/bin/initdb --locale=C -E UTF-8 /usr/local/var/postgres
          brew services start postgresql
          sleep 3
          /usr/local/opt/postgres/bin/createuser -s postgres
        displayName: Install postgresql

- template: _build/azure-pipelines-template.yml
  parameters:
    name: macOS_mysql
    displayName: macOS MySQL
    vmImage: macOS-10.15
    variables:
      BACKEND: mysql
      MYSQL_DATABASE_URL: mysql://root@localhost/diesel_test
      MYSQL_EXAMPLE_DATABASE_URL: mysql://root@localhost/diesel_example
      MYSQL_UNIT_TEST_DATABASE_URL: mysql://root@localhost/diesel_unit_test
      RUST_TEST_THREADS: 1
      MYSQLCLIENT_LIB_DIR: /usr/local/Cellar/mysql/8.0.19/lib
    setup:
      - bash: |
          brew update &&
          brew install mysql &&
          brew services start mysql &&
          brew services stop mysql;sleep 3;brew services start mysql &&
          sleep 2 &&
          /usr/local/Cellar/mysql/8.0.19/bin/mysql -e "create database diesel_test; create database diesel_unit_test; grant all on \`diesel_%\`.* to 'root'@'localhost';" -uroot
        displayName: Install mysql

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Linux_sqlite
    displayName: Linux SQLite
    vmImage: ubuntu-16.04
    variables:
      BACKEND: sqlite
      SQLITE_DATABASE_URL: /tmp/test.db
    setup:
      - bash: |
          sudo apt-get update &&
          wget --quiet -c https://www.sqlite.org/2018/sqlite-autoconf-3240000.tar.gz &&
          tar zxf sqlite-autoconf-3240000.tar.gz &&
          cd sqlite-autoconf-3240000 &&
          CFLAGS="$CFLAGS -O2 -fno-strict-aliasing \
                      -DSQLITE_DEFAULT_FOREIGN_KEYS=1 \
                      -DSQLITE_SECURE_DELETE \
                      -DSQLITE_ENABLE_COLUMN_METADATA \
                      -DSQLITE_ENABLE_FTS3_PARENTHESIS \
                      -DSQLITE_ENABLE_RTREE=1 \
                      -DSQLITE_SOUNDEX=1 \
                      -DSQLITE_ENABLE_UNLOCK_NOTIFY \
                      -DSQLITE_OMIT_LOOKASIDE=1 \
                      -DSQLITE_ENABLE_DBSTAT_VTAB \
                      -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 \
                      -DSQLITE_ENABLE_LOAD_EXTENSION \
                      -DSQLITE_ENABLE_JSON1 \
                      -DSQLITE_LIKE_DOESNT_MATCH_BLOBS \
                      -DSQLITE_THREADSAFE=1 \
                      -DSQLITE_ENABLE_FTS3_TOKENIZER=1 \
                      -DSQLITE_MAX_SCHEMA_RETRY=25 \
                      -DSQLITE_ENABLE_PREUPDATE_HOOK \
                      -DSQLITE_ENABLE_SESSION \
                      -DSQLITE_ENABLE_STMTVTAB \
                      -DSQLITE_MAX_VARIABLE_NUMBER=250000" \
          ./configure --prefix=/usr \
                      --enable-threadsafe \
                      --enable-dynamic-extensions \
                      --libdir=/usr/lib/x86_64-linux-gnu \
                      --libexecdir=/usr/lib/x86_64-linux-gnu/sqlite3 &&
          cd sqlite-autoconf-3240000 &&
          sudo make &&
          sudo make install
        displayName: Install sqlite

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Linux_postgres
    displayName: Linux PostgreSQL
    vmImage: ubuntu-16.04
    variables:
      BACKEND: postgres
      PG_DATABASE_URL: postgres://postgres:postgres@localhost/
      PG_EXAMPLE_DATABASE_URL: postgres://postgres:postgres@localhost/diesel_example
    setup:
      - bash: |
          sudo apt-get update &&
          sudo apt-get -y install postgresql libpq-dev &&
          echo "host    all             all             127.0.0.1/32            md5" > sudo tee -a /etc/postgresql/9.5/main/pg_hba.conf &&
          sudo service postgresql restart && sleep 3 &&
          sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';" &&
          sudo service postgresql restart && sleep 3
        displayName: Install postgresql

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Linux_mysql
    displayName: Linux MySQL
    vmImage: ubuntu-16.04
    variables:
      BACKEND: mysql
      MYSQL_DATABASE_URL: mysql://root:root@localhost/diesel_test
      MYSQL_EXAMPLE_DATABASE_URL: mysql://root:root@localhost/diesel_example
      MYSQL_UNIT_TEST_DATABASE_URL: mysql://root:root@localhost/diesel_unit_test
      RUST_TEST_THREADS: 1
    setup:
      - bash: |
          sudo systemctl start mysql.service &&
          mysql -e "create database diesel_test; create database diesel_unit_test; grant all on \`diesel_%\`.* to 'root'@'localhost';" -uroot -proot
        displayName: Install mysql

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Windows_sqlite
    displayName: Windows SQLite
    vmImage: vs2017-win2016
    variables:
      BACKEND: sqlite
      SQLITE_DATABASE_URL: C:\test.db
      SQLITE3_LIB_DIR: C:\sqlite
    setup:
      - script: |
          choco install 7zip
          mkdir C:\sqlite
          CD /D C:\sqlite
          curl -fsS --retry 3 --retry-connrefused -o sqlite3.zip https://sqlite.org/2018/sqlite-dll-win64-x64-3240000.zip
          7z e sqlite3.zip -y
          call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          lib /machine:x64 /def:sqlite3.def /out:sqlite3.lib
          set PATH=%PATH%;C:\sqlite
          echo "##vso[task.setvariable variable=PATH;]%PATH%;C:\sqlite"
        displayName: Install sqlite

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Windows_postgres
    displayName: Windows PostgreSQL
    vmImage: vs2017-win2016
    variables:
      BACKEND: postgres
      PG_DATABASE_URL: postgres://postgres:password@localhost/
      PG_EXAMPLE_DATABASE_URL: postgres://postgres:password@localhost/diesel_example
      PQ_LIB_DIR: C:\Program Files\PostgreSQL\10\lib
    setup:
      - script: |
          choco install postgresql10 --force --params '/Password:password'
          set PATH=%PATH%;C:\Program Files\PostgreSQL\10\bin;C:\Program Files\PostgreSQL\10\lib"
          echo "##vso[task.setvariable variable=PATH;]%PATH%;C:\Program Files\PostgreSQL\10\bin;C:\Program Files\PostgreSQL\10\lib"
        displayName: Install postgresql

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Windows_mysql
    displayName: Windows MySQL
    vmImage: vs2017-win2016
    variables:
      BACKEND: mysql
      MYSQL_DATABASE_URL: mysql://root:password@localhost/diesel_test
      MYSQL_EXAMPLE_DATABASE_URL: mysql://root:password@localhost/diesel_example
      MYSQL_UNIT_TEST_DATABASE_URL: mysql://root:password@localhost/diesel_unit_test
      RUST_TEST_THREADS: 1
      MYSQLCLIENT_LIB_DIR: C:\Program Files\MySQL\MySQL Server 8.0\lib
    setup:
      - script: |
          choco install 7zip
          mkdir C:\mysql
          CD /D C:\mysql
          curl -fsS --retry 3 --retry-connrefused -o mysql.msi https://cdn.mysql.com/archives/mysql-installer/mysql-installer-community-8.0.11.0.msi
          msiexec /q /log install.txt /i mysql.msi datadir=C:\mysql installdir=C:\mysql
          call "C:\Program Files (x86)\MySQL\MySQL Installer for Windows\MySQLInstallerConsole.exe" community install server;8.0.11;x64:*:port=3306;rootpasswd=password;servicename=MySQL -silent
          netsh advfirewall firewall add rule name="Allow mysql" dir=in action=allow edge=yes remoteip=any protocol=TCP localport=80,8080,3306
          "C:\Program Files\MySQL\MySQL Server 8.0\bin\mysql" -e "create database diesel_test; create database diesel_unit_test; grant all on diesel_test.* to 'root'@localhost; grant all on diesel_unit_test.* to 'root'@localhost;" -uroot -ppassword
        displayName: Install mysql

- job: COMPILE_TESTS
  displayName: Compiletests
  pool:
    vmImage: ubuntu-16.04
  steps:
    - template: _build/install-rust.yml
      parameters:
        platform: Linux
        rust_version: nightly-2019-08-01
    - bash: |
        sudo apt-get update &&
        sudo apt-get -y install libsqlite3-dev libpq-dev libmysqlclient-dev
      displayName: Install build dependencies
    - bash: |
        (cd diesel_compile_tests && cargo test)
      env:
        RUSTFLAGS: '--cap-lints=warn'
      displayName: Run compile tests

- job: RUSTFMT_AND_CLIPPY
  displayName: Check rustfmt style && run clippy
  pool:
    vmImage: ubuntu-16.04
  steps:
    - template: _build/install-rust.yml
      parameters:
        platform: Linux
        rust_version: 1.36.0
    - bash: |
        sudo apt-get update &&
        sudo apt-get -y install libsqlite3-dev libpq-dev libmysqlclient-dev
      displayName: Install build dependencies
    - bash: |
        rustup component add rustfmt
      displayName: Install rustfmt
    - bash: |
        rustup component add clippy
      displayName: Install clippy
    - bash: |
        cargo clippy
      displayName: Run clippy
    - bash: |
        cargo fmt --all -- --check
      displayName: Check style

- job: SQLITE_BUNDLED
  displayName: Check sqlite bundled
  pool:
    vmImage: ubuntu-16.04
  steps:
    - template: _build/install-rust.yml
      parameters:
        platform: Linux
        rust_version: stable
    - bash: |
        sudo apt-get update &&
        sudo apt-get -y install sqlite3 libsqlite3-dev
    - bash: |
        (cd diesel_cli && cargo test --no-default-features --features "sqlite-bundled")
      env:
        SQLITE_DATABASE_URL: /tmp/test.db
      displayName: Check sqlite bundled

- job: MINIMAL_RUST_VERSION
  displayName: Check minimal supported rust version
  pool:
    vmImage: ubuntu-16.04
  steps:
    - template: _build/install-rust.yml
      parameters:
        platform: Linux
        rust_version: 1.36.0
    - bash: |
        sudo apt-get update &&
        sudo apt-get update &&
        wget --quiet -c https://www.sqlite.org/2018/sqlite-autoconf-3240000.tar.gz &&
        tar zxf sqlite-autoconf-3240000.tar.gz &&
        cd sqlite-autoconf-3240000 &&
        CFLAGS="$CFLAGS -O2 -fno-strict-aliasing \
                    -DSQLITE_DEFAULT_FOREIGN_KEYS=1 \
                    -DSQLITE_SECURE_DELETE \
                    -DSQLITE_ENABLE_COLUMN_METADATA \
                    -DSQLITE_ENABLE_FTS3_PARENTHESIS \
                    -DSQLITE_ENABLE_RTREE=1 \
                    -DSQLITE_SOUNDEX=1 \
                    -DSQLITE_ENABLE_UNLOCK_NOTIFY \
                    -DSQLITE_OMIT_LOOKASIDE=1 \
                    -DSQLITE_ENABLE_DBSTAT_VTAB \
                    -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 \
                    -DSQLITE_ENABLE_LOAD_EXTENSION \
                    -DSQLITE_ENABLE_JSON1 \
                    -DSQLITE_LIKE_DOESNT_MATCH_BLOBS \
                    -DSQLITE_THREADSAFE=1 \
                    -DSQLITE_ENABLE_FTS3_TOKENIZER=1 \
                    -DSQLITE_MAX_SCHEMA_RETRY=25 \
                    -DSQLITE_ENABLE_PREUPDATE_HOOK \
                    -DSQLITE_ENABLE_SESSION \
                    -DSQLITE_ENABLE_STMTVTAB \
                    -DSQLITE_MAX_VARIABLE_NUMBER=250000" \
        ./configure --prefix=/usr \
                    --enable-threadsafe \
                    --enable-dynamic-extensions \
                    --libdir=/usr/lib/x86_64-linux-gnu \
                    --libexecdir=/usr/lib/x86_64-linux-gnu/sqlite3 &&
        sudo make &&
        sudo make install
      displayName: Install build dependencies
    - bash: |
        cargo check --all
      displayName: Check building with rust 1.36.0
