[package]
name = "custom_types"
version = "0.1.0"
edition.workspace = true
publish = false

[dependencies]
diesel = { path = "../../../diesel", version = "2.2.0", features = ["postgres"] }
pq-sys = { workspace = true, features = ["bundled"] }
openssl-sys = { workspace = true, features = ["vendored"] }

[[bin]]
name = "custom-types"
path = "src/main.rs"
doc = false
