[package]
name = "diesel_cli"
version = "0.12.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Provides the CLI for the Diesel crate"
readme = "README.md"
documentation = "http://diesel.rs/guides/getting-started"
homepage = "http://diesel.rs"
repository = "https://github.com/diesel-rs/diesel"
keywords = ["orm", "database", "postgres", "postgresql", "sql"]

[[bin]]
name = "diesel"

[dependencies]
chrono = "0.3"
clap = "2.20.3"
diesel = { version = "0.12.0", default-features = false }
dotenv = "0.8.0"
diesel_infer_schema = "0.12.0"
clippy = { optional = true, version = "=0.0.121" }

[dev-dependencies]
tempdir = "0.3.4"
regex = "0.1.48"
url = { version = "1.4.0" }

[features]
default = ["postgres", "sqlite", "mysql"]
lint = ["clippy"]
postgres = ["diesel/postgres", "diesel_infer_schema/postgres"]
sqlite = ["diesel/sqlite", "diesel_infer_schema/sqlite"]
mysql = ["diesel/mysql", "diesel_infer_schema/mysql"]

[[test]]
name = "tests"

[badges]
travis-ci = { repository = "diesel-rs/diesel" }
appveyor = { repository = "sgrif/diesel" }
