[package]
name = "diesel_cli"
version = "0.16.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Provides the CLI for the Diesel crate"
readme = "README.md"
documentation = "https://diesel.rs/guides/getting-started"
homepage = "https://diesel.rs"
repository = "https://github.com/diesel-rs/diesel"
keywords = ["orm", "database", "postgres", "postgresql", "sql"]

[[bin]]
name = "diesel"
path = "src/main.rs"

[dependencies]
chrono = "0.4"
clap = ">=2.27.0"
diesel = { version = "0.16.0", default-features = false }
dotenv = ">=0.8, <0.11"
infer_schema_internals = { version = "0.16.0", path = "../diesel_infer_schema/infer_schema_internals" }
clippy = { optional = true, version = "=0.0.162" }
migrations_internals = { version = "0.16.0", path = "../diesel_migrations/migrations_internals" }

[dev-dependencies]
difference = "1.0"
tempdir = "0.3.4"
regex = "0.2"
url = { version = "1.4.0" }

[features]
default = ["postgres", "sqlite", "mysql"]
lint = ["clippy"]
postgres = ["diesel/postgres", "infer_schema_internals/postgres"]
sqlite = ["diesel/sqlite", "infer_schema_internals/sqlite"]
mysql = ["diesel/mysql", "infer_schema_internals/mysql"]

[[test]]
name = "tests"

[badges]
travis-ci = { repository = "diesel-rs/diesel" }
appveyor = { repository = "sgrif/diesel" }
