[package]
name = "diesel_cli"
version = "1.4.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Provides the CLI for the Diesel crate"
readme = "README.md"
documentation = "https://diesel.rs/guides/getting-started"
homepage = "https://diesel.rs"
repository = "https://github.com/diesel-rs/diesel"
keywords = ["diesel", "migrations", "cli"]
autotests = false
edition = "2018"
include = ["src/**/*", "LICENSE-*", "README.md"]

[[bin]]
name = "diesel"
path = "src/main.rs"
doc = false

[dependencies]
chrono = { version = "0.4.19", default-features = false, features = ["clock", "std"] }
clap = "2.27"
dotenv = "0.15"
heck = "0.3.1"
serde = { version = "1.0.0", features = ["derive"] }
toml = "0.5"
url = { version = "2.1.0", optional = true }
libsqlite3-sys = { version = ">=0.8.0, <0.21.0", optional = true, features = ["min_sqlite_version_3_7_16"] }
diffy = "0.2.0"
regex = "1.0.6"
serde_regex = "0.3.1"

[dependencies.diesel]
version = "~2.0.0"
path = "../diesel"
default-features = false

[dependencies.diesel_migrations]
version = "~2.0.0"
path = "../diesel_migrations/"

[dev-dependencies]
difference = "2.0"
tempfile = "3.1.0"
regex = "1.3.9"
url = { version = "2.2.2" }

[features]
default = ["postgres", "sqlite", "mysql"]
postgres = ["diesel/postgres", "url", "uses_information_schema"]
sqlite = ["diesel/sqlite"]
mysql = ["diesel/mysql", "url", "uses_information_schema"]
sqlite-bundled = ["sqlite", "libsqlite3-sys/bundled"]
uses_information_schema = []

[[test]]
name = "tests"
