[package]
name = "diesel_cli"
version = "1.4.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Provides the CLI for the Diesel crate"
readme = "README.md"
documentation = "https://diesel.rs/guides/getting-started"
homepage = "https://diesel.rs"
repository = "https://github.com/diesel-rs/diesel"
keywords = ["diesel", "migrations", "cli"]
autotests = false

[[bin]]
name = "diesel"
path = "src/main.rs"

[dependencies]
chrono = "0.4"
clap = "2.27"
diesel = { version = "~1.4.0", default-features = false }
dotenv = ">=0.8, <0.11"
heck = "0.3.1"
migrations_internals = "~1.4.0"
serde = { version = "1.0.0", features = ["derive"] }
tempfile = "3.0.0"
toml = "0.4.6"
url = { version = "1.4.0", optional = true }
barrel = { version = ">= 0.5.0", optional = true, features = ["diesel"] }
libsqlite3-sys = { version = ">=0.8.0, <0.17.0", optional = true, features = ["min_sqlite_version_3_7_16"] }

[dev-dependencies]
difference = "1.0"
tempdir = "0.3.4"
regex = "0.2"
url = { version = "1.4.0" }

[features]
default = ["postgres", "sqlite", "mysql"]
postgres = ["diesel/postgres", "url", "uses_information_schema"]
sqlite = ["diesel/sqlite"]
mysql = ["diesel/mysql", "url", "uses_information_schema"]
barrel-migrations = ["migrations_internals/barrel", "barrel"]
sqlite-bundled = ["sqlite", "libsqlite3-sys/bundled"]
uses_information_schema = []

[[test]]
name = "tests"

[badges]
travis-ci = { repository = "diesel-rs/diesel" }
appveyor = { repository = "diesel-rs/diesel" }
