[package]
name = "diesel_cli"
version = "0.9.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Provides the CLI for the Diesel crate"
documentation = "http://diesel.rs/guides/getting-started"
homepage = "http://diesel.rs"
repository = "https://github.com/diesel-rs/diesel"
keywords = ["orm", "database", "postgres", "postgresql", "sql"]

[[bin]]
name = "diesel"

[dependencies]
chrono = "0.2.17"
clap = "2.11"
diesel = { version = "0.9.0", default-features = false }
dotenv = "0.8.0"
diesel_infer_schema = { version = "0.1.0", default-features = false, path = "../diesel_infer_schema" }

[dev-dependencies]
tempdir = "0.3.4"
regex = "0.1.48"

[features]
default = ["postgres", "sqlite"]
postgres = ["diesel/postgres", "diesel_infer_schema/postgres"]
sqlite = ["diesel/sqlite", "diesel_infer_schema/sqlite"]

[[test]]
name = "tests"
