[package]
name = "diesel_cli"
version = "1.2.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Provides the CLI for the Diesel crate"
readme = "README.md"
documentation = "https://diesel.rs/guides/getting-started"
homepage = "https://diesel.rs"
repository = "https://github.com/diesel-rs/diesel"
keywords = ["diesel", "migrations", "cli"]

[[bin]]
name = "diesel"
path = "src/main.rs"

[dependencies]
chrono = "0.4"
clap = "2.27"
clippy = { optional = true, version = "=0.0.185" }
diesel = { version = "~1.2.0", default-features = false }
dotenv = ">=0.8, <0.11"
infer_schema_internals = { version = "~1.2.0", features = ["serde"] }
migrations_internals = "~1.2.0"
serde = { version = "1.0.0", features = ["derive"] }
toml = "0.4.6"
url = { version = "1.4.0", optional = true }

[dev-dependencies]
difference = "1.0"
tempdir = "0.3.4"
regex = "0.2"
url = { version = "1.4.0" }

[features]
default = ["postgres", "sqlite", "mysql"]
lint = ["clippy"]
postgres = ["diesel/postgres", "infer_schema_internals/postgres", "url"]
sqlite = ["diesel/sqlite", "infer_schema_internals/sqlite"]
mysql = ["diesel/mysql", "infer_schema_internals/mysql", "url"]

[[test]]
name = "tests"

[badges]
travis-ci = { repository = "diesel-rs/diesel" }
appveyor = { repository = "diesel-rs/diesel" }
