[package]
name = "diesel_tests"
version = "0.1.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
build = "build.rs"

[build-dependencies]
syntex = { version = "0.44.0", optional = true }
diesel_codegen_syntex = { path = "../diesel_codegen_syntex", optional = true }
dotenv_codegen = { version = "0.9.0",  optional = true }
diesel = { path = "../diesel", default-features = false }
dotenv = { git = "https://github.com/slapresta/rust-dotenv.git" }

[dependencies]
assert_matches = "1.0.1"
chrono = { version = "^0.2.17" }
diesel = { path = "../diesel", default-features = false, features = ["quickcheck", "chrono", "uuid"] }
diesel_codegen_old = { path = "../diesel_codegen_old", default-features = false, optional = true }
dotenv_macros = { version = "0.9.0", optional = true }
quickcheck = { version = "0.3.1", features = ["unstable"] }
uuid = { version = ">=0.2.0, <0.4.0" }

[features]
default = ["with-syntex"]
unstable = ["diesel/unstable", "dotenv_macros", "diesel_codegen_old"]
with-syntex = ["syntex", "dotenv_codegen", "diesel_codegen_syntex"]
postgres = ["diesel/postgres"]
sqlite = ["diesel/sqlite"]
stable_postgres = ["with-syntex", "postgres", "diesel_codegen_syntex/postgres"]
stable_sqlite = ["with-syntex", "sqlite", "diesel_codegen_syntex/sqlite"]
unstable_postgres = ["unstable", "postgres", "diesel_codegen_old/postgres"]
unstable_sqlite = ["unstable", "sqlite", "diesel_codegen_old/sqlite"]

[[test]]
name = "integration_tests"
path = "tests/lib.rs"
harness = true

[[bench]]
name = "benchmarks"
path = "tests/bench.rs"
bench = true
