[package]
name = "diesel_tests"
version = "0.1.0"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
build = "build.rs"

[build-dependencies]
diesel = { path = "../diesel", default-features = false }
dotenv = "0.8.0"

[dependencies]
assert_matches = "1.0.1"
chrono = { version = "0.3" }
diesel = { path = "../diesel", default-features = false, features = ["quickcheck", "chrono", "uuid", "serde_json"] }
diesel_codegen = { path = "../diesel_codegen" }
dotenv = "0.8.0"
quickcheck = { version = "0.3.1", features = ["unstable"] }
uuid = { version = ">=0.2.0, <0.4.0" }
serde_json = "0.9"

[features]
default = []
unstable = ["diesel/unstable"]
postgres = ["diesel/postgres", "diesel_codegen/postgres"]
sqlite = ["diesel/sqlite", "diesel_codegen/sqlite"]

[[test]]
name = "integration_tests"
path = "tests/lib.rs"
harness = true

[[bench]]
name = "benchmarks"
path = "tests/bench.rs"
bench = true
