[package]
name = "relations_sqlite"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
diesel = { version = "2.1.0", features = ["sqlite", "returning_clauses_for_sqlite_3_35"], path = "../../../diesel" }
libsqlite3-sys = { workspace = true, features = ["bundled"] }
dotenvy = "0.15.6"

[[bin]]
name = "relations"
path = "src/main.rs"
doc = false
