[package]
name = "diesel_codegen"
version = "0.7.2"
authors = ["Sean Griffin <sean@seantheprogrammer.com>"]
license = "MIT OR Apache-2.0"
description = "Annotations to remove boilerplate from Diesel"
documentation = "https://github.com/diesel-rs/diesel/blob/master/diesel_codegen"
homepage = "http://diesel.rs"
repository = "https://github.com/diesel-rs/diesel/tree/master/diesel_codegen"
keywords = ["orm", "database", "postgres", "sql", "codegen"]

[dependencies]
diesel_codegen_syntex = { version = "0.7.0", default-features = false }

[features]
default = ["postgres"]
postgres = ["diesel_codegen_syntex/postgres"]
sqlite = ["diesel_codegen_syntex/sqlite"]

[lib]
plugin = true
